@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  background: #101a25;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-self: stretch;
  height: 60vh; /* Increase the height to 70% of the viewport height */
  min-height: 400px; /* Set a minimum height to ensure it doesn't get too small on smaller screens */
}

.container {
  width: 100%;
  height: 100%; /* Make the container take full height of its parent */
  position: relative;
  overflow: hidden;
  align-content: end;
  padding: 5%;
}

.box-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: #11141f;
  display: flex;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.item-grid {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateX(+84px);
  padding: 0 10px;
}

.item-box {
  flex-shrink: 0;
  width: 160px;
  height: 170px;
  transition: all 0.5s;
}

.item {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #1a1a20;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.item-cover {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-cover img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-info {
  width: 100%;
  text-align: center;
}

.item-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.item-price {
  color: #cbcbdd;
  display: none;
  font-size: 8px;
}

.highlight .item {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.item-win-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.highlight .item-win-animation {
  opacity: 0.2;
}

.layout-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  gap: 20px;
  min-height: 100vh;
  justify-content: flex-start; /* Changed from center to align content from the top */
  position: relative;
  backdrop-filter: blur(10px);
  background-color: rgba(16, 26, 37, 0.7);
}

.arrow-top {
  position: absolute;
  height: 220px;
  left: 50%;
  bottom: 0;
  z-index: 99;
  width: 2px;
  background: linear-gradient(
    rgba(240, 121, 121, 0),
    rgb(207, 203, 203),
    rgba(240, 121, 121, 0)
  );
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}

@keyframes rise {
  0% {
    bottom: -10px;
    transform: translateY(0);
  }
  100% {
    bottom: 100%;
    transform: translateY(-10px);
  }
}




button {
  background: linear-gradient(180deg, #7848ff 0%, #6254ff 100%);
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.winner-display {
  width: 100%;
  max-width: 200px;
  background: #1a1a20;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.winner-display.show {
  display: flex;
}

.winner-image {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.winner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.winner-info {
  text-align: center;
}

.winner-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.winner-price {
  color: #cbcbdd;
  font-size: 14px;
  margin-bottom: 10px;
}

.winner-description {
  color: #93979c;
  font-size: 12px;
}

.winner-popup {
  position: absolute;
  top: 20%;
  /* left: 50%;
  transform: translateX(-50%); */
  background-color: #1a1a20;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 100;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.winner-popup.hidden {
  display: none;
}

.winner-content img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.winner-content h2 {
  color: #fff;
  margin: 0 0 10px;
}

.winner-content p {
  color: #cbcbdd;
  margin: 5px 0;
}

.rarity-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Title */
.title-section {
  width: 100%;
  top: 10vh;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  position: relative; /* Added for positioning */
  z-index: 1; /* Ensure it's above other content */
}

.title-section h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.title-section p {
  font-size: 18px;
  color: #cbcbdd;
  margin: 10px;
}


/* SPINNY BUTTON */

.circle-button {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  text-decoration: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  animation: pulse 2s infinite;
}

.circle-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.circle-button:active {
  transform: scale(0.95);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.circle-button .logo {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.circle-button:hover .logo {
  transform: translate(-50%, -50%) scale(1.1);
}

.circle-button .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circular-text {
  position: absolute;
  width: 110%; /* Increased from 100% */
  height: 110%; /* Increased from 100% */
}

#rotatingText {
  animation: rotate-circle 10s linear infinite;
}

.text {
  font-weight: 600;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 16px; /* Increased from 14px */
  fill: #dedede;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}

/* Media query for screens wider than 981px */


@media (max-width: 981px) {
  .title-section {
    position: absolute;
    top: 2.5vh; /* Position it 10% down the page */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust width as needed */
    max-width: 1200px;
  }

  .main-wrapper {
    height: 55vh; /* Increase the height to 80% of the viewport height */
  }
  .hero {
    padding-top: 0;
  }

  .mobile-content {
    display: flex;
    padding-top: 60px;
  }

  .circle-button {
    transform: translateY(-35px); /* Moves the button up by 10px */
  }

  .circle-button:hover {
    transform: translateY(-35px) scale(1.05);
  }

  .circle-button:active {
    transform: translateY(-35px) scale(0.95);
  }

  .circular-grid {
    width: 150vw;
    height: 150vw;
  }

  .circular-grid::before {
    width: 120vw;
    height: 120vw;
  }

  .circular-grid::after {
    width: 90vw;
    height: 90vw;
  }

  .letters-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .letter {
    font-size: 15vw;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

@media (max-width: 588px) {
  .main-wrapper {
    height: 435px;
  }

}

@media (max-width: 375px) {
  .main-wrapper {
    height: 435px;
  }

}

@media (max-width: 330px) {
  .main-wrapper {
    height: 530px;
  }

}